/* ensure all pages have Bootstrap CSS */

/* :root{
  --font-cry: Roboto,Helvetica Neue,Helvetica,Arial,WenQuanYi Zen Hei,Hiragino Sans GB,LiHei Pro,Heiti TC,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
}


html,
body {
  font-family: var(--font-cry);
} */
.main{
  margin-top: 114px;
  padding: 20px 0;
}