.pageFooter{
  border-top: 4px solid #ee4d2d;
  background-color: #fbfbfb;
  color: rgba(0,0,0,.54);
}

.bottomBar{
  border-top: 0.5px solid rgba(0,0,0,.1);
  justify-content: space-between;
  padding: 2.5rem 0;
  display: flex;
  font-size: 14px;
}
.copyright{
  flex-shrink: 0;
  margin-right: 25px;
}

.sites{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.siteText{
  flex: 1 0 auto;
  text-align: right;
}
.siteLink{
  padding: 0 5px;
  text-decoration: none;
  color: rgba(0,0,0,.54);
}

.siteLink:not(:last-child){
  border-right: 0.5px solid rgba(0,0,0,.2);
}